
.tbl-membership tr td input 
{
    width: 490px;
}

.tbl-awards tr td input 
{
    width: 320px;
}

@media(max-width:700px){
    .tbl-membership tr td input 
{
    width: 220px;
}

.tbl-awards tr td input 
{
    width: 180px;
}


}