
hr{
    height: 1px;
    border: 0;
    background-color: rgb(107, 8, 107);
    box-shadow: 0 0 10px rgba(0, 0, 150, 1.25);

}

#fp-user-details{
    max-width: 96%;
    box-shadow: none;
  
    background: aliceblue;
}

#fp-user-panel{
    width: 100%;
}




/* CSS for address box  */

.partition{
    
    /* border: solid black; */
    width: 100%;
    display: flex;
    

}

.left-half{
    /* border: solid red; */
    text-align: center;
    
    
}
.right-half{
    /* border: solid orange; */
    text-align: center;
}

.left-half span , .right-half span{
    font-weight: 600;
    margin-top: 10px ;
    padding-left: 10px;
    padding-right: 10px;
}

textarea{
    width: 90%;
    height: 50px;
    max-height: 190px;
    padding: 2px 5px 2px 5px ;
    margin-bottom: 3px;
    resize: vertical;
    outline: none;
    border-radius: 5px;
    border: 2px solid #ccc;
    
    
    
}

textarea:focus,
textarea:valid {
    border-color:  #0c0064;
    

}

@media (max-width:700px) {
    .partition{
        flex-direction : column;
    }
    
}

/* --------------------------------------------------------- */