@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}


body{
    background: linear-gradient(135deg , #71b7e6 , #9b59b6);
}

.login-main{
    border: solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-panel{
    
    border: solid blue;
    padding: 20px;
}

.login-box{
    background: #fff;
    border: solid red;
    width: 50%;
    padding: 20px;
    margin: 0;
}

.login-box span , input , button, h3 {
    width: 90%;
    margin:  10px ;
    
}

.login-box h3{
    text-align: center;
    margin-bottom: 25px;
}


img{
    border: solid orange;
    width: 300px;
    justify-content: center;
    margin: auto;
    padding: 0;
}


