@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
    

}

.panel{
    margin: 5px;
}
.panel-heading{
    font-weight: 650;
    text-align: center;
    padding: 15px 0px 3px 0px;
    
}
.panel-body{
    /* border: solid black; */
    margin: 0px 5px 5px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-details{
    max-width: 90%;
    /* border: solid blue; */
    width: 100%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 150, 0.25);
    padding: 25px 30px;
    border-radius: 8px;

}

.user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0px 12px 0px ;
}

.user-details .input-box{
    margin-bottom: 15px;
    width: calc(100%/2 - 15px);

}


.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input ,select{

    width : 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
    padding-top:2px ;
    padding-bottom:2px ;
    font-size: 15px; 
    border-bottom-width: 3px;
    
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #0c0064;
}

select:focus , select:valid{
    border-color: #0c0064;
}
@media(max-width:700px ){
    .container{
        max-width: 100%;
    }

    .user-details .input-box{
        margin-bottom: 15px;
        width: 100% ; 
    }

    form .gender-details .category{
        width: 100%;
        transition: all 0.1s ease;
        
    }

    .container form .user-details{
       max-height: 300px;
       overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar{
        width: 10px;
    }

}